img {
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}

.img-thumb {
    max-width: 100%;
    border: 1px solid #dee2e6;
    border: 1px solid var(--bs-gray-300);
    padding: 5px;
    border-radius: .3rem;
}

.img-wrapper {
    position: relative;
}

.img-wrapper::after {    
    content: attr(title);
    font-weight: bolder;
    color: rgb(255,255,255) !important;
    text-shadow: #212529 .1rem .1rem .2rem;
    font-size: calc(1.3rem + .6vw);
    position: absolute;
    bottom: .7rem;
    left: 0;
    width: 100%;
    text-align: center;
}
._error {
    border: solid #f1aeb5 1px;
    box-shadow: 0 0 10px #f1aeb5;
}